<Footer>
    <nav class="footer-nav">
        <div class="footer-bottom">

            <ul>
                <li>
                    <h3 class="copyright">Nightmare Land &copy; 2023</h3>
                </li>
                <li>
                    <h3><a href=" ">About</a></h3>
                </li>
                <li>
                    <h3><a href=" ">Contact</a></h3>
                </li>
                <div id="social">
                    <li><img src="/images/twitter.png" class="socials"> </li>
                    <li><img src="/images/facebook.png" class="socials"> </li>
                </div>
            </ul>

        </div>


    </nav>
</Footer>
</body>

</html>