<%- include('./partials/header.ejs')%>
<body>
    <div class="about">
    <h1>Contact Us</h1>
    
    <h3>Address: </h3>
    <p>13001 Keith Store Rd Wake Forest, NC</p><br>
    
    <h3>Phone Number:</h3>
    <p>(919)123-9874</p><br>

    <h3>Email:</h3>
    <p>support@nightmarelane.com *</p><br>
    


    <h3>Hours</h3>
    <p>Monday-Thursday: 12pm - 9pm</p>
    <p>Friday-Saturday: 10am - 10pm</p>
    <p>Sunday: 3pm - 10pm</p><br>

    <small>*May take up to 1 business to respond</small>

    </div>

    


</body>
<%- include('./partials/footer.ejs')%>