<%- include('./partials/header.ejs')%>

    <main>
        <div class="welcome">
            <h1>Welcome to Nightmare Land!</h1>
        </div>

        <div class="intro-para">
            <br>
            <p>
                If you would like to check out our events please click on the event tab. Also if you would like to make a reservation
                please fill out the form. We will call you the next day to confirm everything.
            </p>

            <br>
            <p>
                To make a reservation for an event please create an account and then proceed to signup.
                Once your reservation is confirmed you can view it in your account.
            </p>

        </div>

    </main>

    <%- include('./partials/footer.ejs')%>