<%- include('./partials/header.ejs')%>

    <main>
        <div class="welcome">
            <h1>Welcome to Nightmare Land!</h1>
        </div>

        <div class="intro-para">
            <br>
            <p>
                Welcome to Nightmare Land, North Carolinas #1 attrations for everything fall related.
            </p>

            <br>
            <p>
                To view our current events click the events tab.
            </p>

        </div>

    </main>

    <%- include('./partials/footer.ejs')%>