<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nightmare Lane</title>
    <link rel="shortcut icon" href="images/title-logo.jpeg">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <div class="page-head">
            <a href="index.html"><img src="/images/logo.jpeg" class="logo" alt="main logo"></a>
        </div>
    
        <nav class="header-nav">
        <ul>
            <li><a href="newEvent.html">New Reservation</a></li> 
            <li><a href=" ">Sign Up</a></li> 
            <li><a href=" ">Log in</a></li> 
        </ul>
        </nav>
    </header>

    <div class="page-events">
        <ul class="event">
            <li><a href="events.html">Events</a></li>
        </ul>
    </div>

    <main>
        <div class="welcome">
            <h1>Welcome to Nightmare Land!</h1>
        </div>

        <div class="intro-para">
            <br>
            <p>
                If you would like to check out our events please click on the event tab. Also if you would like to make a reservation
                please fill out the form. We will call you the next day to confirm everything.
            </p>

            <br>
            <p>
                To make a reservation for an event please create an account and then proceed to signup.
                Once your reservation is confirmed you can view it in your account.
            </p>

        </div>

    </main>

    <Footer>
        <nav class="footer-nav">
            <div class="footer-bottom">
    
                <ul>
                    <li><h3 class="copyright">Nightmare Land &copy; 2023</h3></li>
                    <li><h3><a href=" ">About</a></h3></li>
                    <li><h3><a href=" ">Contact</a></h3></li>
                    <div id="social">
                        <li><img src="images/twitter.png" class = "social" > </li>
                        <li><img src="images/facebook.png" class = "social" > </li>
                    </div>
                </ul>
    
            </div>
    
    
        </nav>
    </Footer>
</body>

</html>