<%- include('../partials/header.ejs')%>
    <main>
        <form action='/events' method='POST' class="new-form">
            <div class="new-header">
                <h1>New Event</h1>
                <br>
            </div>

            <div class="form-name">
                <label for="title">Event Name:</label><br>
                <input type="text" id="title" name="title" required>
            </div><br>

            <div class="form-reason">
                <label for="host">Host Name:</label><br>
                <input type="text" id="host" name="host" required>
            </div><br>

            <div class="start-end-time">
                <label for="startdate">Start (Date and Time):</label>
                <input type="datetime-local" id="startdate" name="startdate" required><br>

                <label for="enddate">End (Date and Time):</label>
                <input type="datetime-local" id="enddate" name="enddate" required><br>
            </div> <br>

            <div class="form-name">
                <label for="location">Location:</label><br>
                <input type="text" id="location" name="location" required>
            </div><br>

            <div class="form-category">
                <label for="category">Category:</label>
                <select name="category" class="category" size="1" id="category" required>
                    <option value="" disabled selected>Pick One</option>
                    <option value="hay">hay</option>
                    <option value="maze">maze</option>
                    <option value="carving">carving</option>
                    <option value="haunted">haunted</option>
                </select>
            </div><br>

            <div class="form-category">
                <label for="skill">Skill Level:</label>
                <select name="skill" class="skill" size="1" id="skill" required>
                    <option value="" disabled selected>Pick One</option>
                    <option value="Easy (All ages)">Easy (All ages)</option>
                    <option value="Intermediate (6 and up)">Intermediate (6 and up)</option>
                    <option value="Expert (12 and up)">Expert (12 and up)</option>
                </select><br><br>

                <label for="duration">Duration</label>
                <input type="text" id="duration" name="duration"><br><br>
            </div><br>

            <div class="form-pic">
                <label for="image">Image:</label>
                <input type="file" class="guest-pic" accept="image/*" id=image name="image" >
            </div><br><br>

            <div class="button">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs')%>